body {
  padding-top: 20px;
  padding-left: 20px;
  text-align: center;
}

#output {
  text-align: center;
  margin-top: 50px;
}

.code {
  margin-bottom: 30px;
}

.insertTokenButton {
  width: 40px;
  height: 40px;
  margin-left: 26px;
  margin-right: 34px;
  margin-bottom: 10px;
}

#board {
  /*text-align: center;*/
}